.mw-parser-output section > p {
  background: yellow;
}

ol.references:not([data-mw-group]) {
  background: lightblue;
}

[typeof~="mw:Extension/ref"], [typeof~="mw:Extension/math"], #coordinates, [class*="emplate"] {
  background: white;
}
